<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav class="navbar-home">
      <div class="logo-container">
        <a href="/" class="nav-logo"> [Project-Watch] </a>
      </div>

      <div class="nav-container">

        {{#if user}}
          <a href="/cart" class="nav-btn"> My Shopping Cart </a>
          <a href="/collection" class="nav-btn"> My Collection </a>
          {{!-- <a href="/user" class="nav-btn"> Hello, {{user.username}} </a> --}}
      <a href="/auth/logout" class="nav-btn">Logout</a>
    </nav>
        {{else}}
          <a href="/auth/signup" class="nav-btn">Signup</a>
          <a href="/auth/login" class="nav-btn">Login</a>
        {{/if}}
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

    <footer class="footer-background footer">
      <section class="footer-container">
        <h3 class="footer-logo">[Project-Watch]</h3>
        <address class="address">Storkower Straße 132,
          <br />
          10407 Berlin,
          <br />
          Germany
          <br />
          +49 30 12 34 56 78</address>
        <div class="imprint-container">
          <span class="imprint-span">Imprint</span><span
            class="imprint-span"
          >Contact Us</span>
        </div>
        <div class="imprint-copyright">
          <span>© 2023 Project Watch</span>
        </div>
      </section>
      <iframe
        src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Storkower%20Stra%C3%9Fe%20132%20Berlin+(Project%20Watch)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        class="map-frame"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>

    </footer>

</html>