<div class="empty-cart-container">
    <div class="collection-title margin-bottom-50">
      <h1 class="collection-title-text">
    
    Hello {{user.username}}, </h1>
  </div>

    <a href="/"><button type="submit" class="empty-cart-btn">Find your next
        watch</button></a>
  </div>


<hr />

{{!-- <h1>Hello {{user.username}}</h1> --}}