body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.login-box {
  height: 320px;
  width: 330px;
  border: 2px solid lightgrey;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 50px auto 200px;
  text-align: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.login-form input {
height: 40px;
width: 240px;
margin: 10px auto;
}

.login-form button {
  height: 30px;
  width: 248px;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  background-color: #bf8970;
  border-color: lightgrey;
  font-size: 1.1em;
  font-weight: bold;
}

.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-btn {
  color: #bf8970;
  text-decoration: none;
  margin-right: 50px;
}

.footer {
  font-size: 1.4em;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-background {
  background-color:black;
  color: #bf8970;
}

.map-frame {
  height: 200px;
  width: 60%;
}

.imprint-container {
  display: flex;
  text-align: center;
  margin: 20px 0 0 10px;
}

.imprint-span {
  font-size: 0.8em;
  text-decoration: underline;
  display: flex;
  margin: 0 10px;
}