<h1>shopping cart here</h1>

<ul>
  {{#each products}}

    <li>{{this}}</li>

  {{/each}}

</ul>

<ul>
  {{#each price}}

    <li>{{this}}</li>

  {{/each}}

</ul>

<p>this is the updateded version 10:31am</p>