<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar-home">
        <a href="/auth/signup" class="nav-btn">Signup</a>
        <a href="/auth/login" class="nav-btn">Login</a>
         <a href="/profile" class="nav-btn">My Profile</a>
</nav>
<section class="search-home">
<form action="/watch-search" class="search-form" method="GET">
<label for="query"></label>
<input type="text" id="query" name ="q" placeholder="Find your favourite watch...">
<button type="submit" class="home-btn">Search</button>
</form>
</section>
{{#each response}}
  <a href="/models?family={{this.familyName}}"><h1> {{this.familyName}}</h1></a>
{{/each}}

<footer class="footer-background footer">
      <section>
        <h3>Project Watch</h3>
        <address class="address">Storkower Straße 132, <br /> 10407 Berlin, <br /> Germany <br /> +49 30 12 34 56 78</address>
       <div class="imprint-container">
       <span class="imprint-span">Imprint</span><span class="imprint-span">Contact Us</span>
    </div>
    <div class="imprint-copyright">
         <span>© 2023 Project Watch</span>
    </div>
      </section>
<iframe src="https://maps.google.com/maps?width=100%25&amp;height=200&amp;hl=en&amp;q=Storkower%20Stra%C3%9Fe%20132%20Berlin+(Project%20Watch)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe> 
   
    </footer>
</body>
</html>
