<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav class="navbar-home">
      <div class="logo-container">
        <a href="/" class="nav-logo"> [Project-Watch] </a>
      </div>

      <div class="nav-container">

        {{#if user}}
          <a href="/cart" class="nav-btn"> My Shopping Cart </a>
          <a href="/collection" class="nav-btn"> My Collection </a>
          {{!-- <a href="/profile" class="nav-btn"> Hello, {{user.username}} </a> --}}
        {{else}}
          <a href="/auth/signup" class="nav-btn">Signup</a>
          <a href="/auth/login" class="nav-btn">Login</a>
        {{/if}}
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>