<div class="collection-title">
  <h1 class="collection-title-text">Hello there, {{user.username}} </h1>
  <p>Loyal member since {{user.createdAt}} </p>
  <p> {{user.email}} </p>
</div>

<hr />

{{!-- <h1>Hello {{user.username}}</h1> --}}